<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracija</title>

    <link rel="stylesheet" href="public/main.css">
</head>
<body>
    <%- include('./components/nav-bar') %>
    <div class="container"><h3>Sveiki atvykę į registraciją</h3></div>

    <div class="container1">
        <form action="/register" method="post">
            <label for="username">Vartotojo vardas:</label>
            <input type="text" name="username" id="username">
            <label for="password">Slaptažodis:</label>
            <input type="password" name="password" id="password">
            <input type="submit" value="Registruoti">
    
</body>
</html>