<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracija</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../public/main.css">
	<link rel="stylesheet" href="../public/registration.css">
</head>
<body>
    <%- include('./components/nav-bar') %>
    <div class="container"><h3>Fill the registration form, please</h3></div>
<!-- pasitaisyti pasveikinimą -->
    <form action="/api/user/register" method="post" >
        <div class="container1">
            <div class="form">
                <label for="username">User Name</label>
                    <input type="text" name="username" id="username">

                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">

                    <label for="password">Birth Date</label>
                    <input type="Date" name="birthDate" id="birthDate">

                    <label for="password">E-mail</label>
                    <input type="email" name="email" id="email">

                    <label for="password">Profile Picture</label>
                    <input type="file" name="img" id="profilephoto" accept=".jpg, .png, .gif, .bmp">

                    <button id="registerButton">Sign in</button>
            </div>
        </div>
    </form>
    <script src="/public/registration.js"></script>
            
</body>
</html>