
@font-face{
    font-family: "CircularSTD";
    src:url("assets/fonts/circularstd-black-webfont.woff") format("woff");
    font-weight: 800;
}
@font-face{
    font-family: "CircularSDT";
    src:url("assets/fonts/circularstd-bold-webfont.woff") format("woff");
    font-weight: 600;
}
@font-face{
    font-family: "CircularSDT";
    src:url("assets/fonts/circularstd-book-webfont.woff") format("woff");
    font-weight: 300;
}
:root{
    --bs-border-radius:1.5rem
}
body{
    font-family: "CircularSDT";
      
}

img{
    max-width: 100%;
    
    }

header{
    padding:2.3rem 0;
}
nav.navbar{
    font-size: 14px;
    display: none;
}
nav.navbar a {
    color: #19182588;
    text-decoration: none;
    font-weight: 600;

}
nav.navbar li.active a{
    color: #222831;
}

main::before {

    content:"";
    background: url(assets/icons/OBJECTSoranziniaitrikamiai.svg);
}
.btn{
    --bs-btn-padding-y: 0.9rem;  
    --bs-btn-padding-x: 2rem;
    font-weight: 600; 
}

.btn-primary {
    --bs-btn-bg:#5d50c6;
    --bs-btn-hover-bg:#a59eda;
    border: none;
    font-weight: 600;
    color: white;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}
.btn-shadow{
    box-shadow: 0 15px 15px 0 #00000012;
    --bs-btn-color: #F85E9F;
    font-size: 14px;
    display:inline-flex;
    gap: 10px;
    align-items: center;
}
/* pseudo elementas */
/* kam skirti pseudo elementai? */
.btn-shadow::after {
    content: "";
    background: url("assets/icons/work\ 1rozinis_lagaminas.svg");
    width: 24px;
    height: 24px;
    display:block;


}
.home h2 {
    font-size: 64px;
    font-weight: 600;
    line-height: 120%;


}
.home h2 span{
    color: #F85E9F;
}
 
.home p{
    font-family: "CircularSDT";
    font-size: 18px;
    color:#19182580
}
.buttons{
display: flex;
gap: 1rem;
}

.btn-outline-primary {
display: inline-flex;
justify-content: center;
align-items: center;
--bs-btn-border-color: #eeeeee;
--bs-btn-color: #222831;
--bs-btn-hover-color: #222831;
--bs-btn-border-hover-color: #eeeeee;
--bs-btn-hover-bg: #eeeeee;
gap: .5rem;
}

.btn-outline-primary::before {
    content: "";
    display: block;
    background: url(assets/icons/play-circle.5\ 1watchdemo.svg) no-repeat center center;
    width: 24px;
    height: 24px;

}

.hamburger{
border: none;
width: 48px;
height: 49px;
background:url(assets/icons/Vectorhamburgeris.svg) no-repeat center center;
/* ofcanvas islindimas is krasto */
/* selektoriu sarasas pasiziureti BUTINAI */
}
.section-heading h3{
    color: #F85E9F;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 5px;
}

.section-heading h2{
    font-size: 44px;
    font-weight: bold;
    line-height: 120%;
    margin: 1rem 0 0;
}

.service p {
    color: #646368;

}
p {
    color: #646368;
    text-wrap: wrap;
}
.service {
    height: 100%;
    transition: all .5s ease-in-out;
}

.service:hover {
    box-shadow: 0 0 15px 5px block;
    border: none;
}
.arrows{
    display: flex;
    justify-content: end;
    gap:2rem;
}
.arrows a {
    display: flex;
    width: 100px;
    height: 100px;
    border: solid 1px#646368;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    

}
.arrows svg {
    fill: #5d50c6;
}
.right {
    width: 100%;
    height:100%;
    background: #5d50c6;
}
.after-heading {
    background-color: #FACD49;
    font-weight: bold;
    
}


.price {
    color: #F85E9F;
    font-weight: 600;
}

.rating {
    color: #FF5722;
    font-weight: 600;
    font-size: 25px;
}

@media screen and (min-width: 992px)
{
nav.navbar {
    display: block;

}
}
@media screen and (max-width: 992px)
{
nav.navbar {
  
    position:fixed;
    top:0;
    left:-280px;
    background-color: white;
    z-index: 1000;
    padding: 1rem;
    height:100vh;
    width: 280px;
    border-right: 1px solid rgb(153, 153, 153);
    transition: left .5s ease-in-out;



}

nav.navbar::after {
    content:"";
    position:fixed;
    top: 0;
    left: -100vw;
    background-color: rgba(0,0,0,0.3);
    width: calc(100vw - 280px);
    height:100vh;
    transition: left .5s ease-in-out;
    

}
input[name="nav-toggler"]:checked + nav {
    display: block;
    left: 0;
}
/* pasitikrinti inputus!!!!! */
input[name="nav-toggler"]:checked + nav::after {
    left: 280px;

}
}
