<nav>
	
	<div class="container">	
		<a href="/"><i class="bi bi-house-fill"></i>Home</a>
		<a href="/register"><i class="bi bi-person-circle"></i>Sign in</a>
		<a href="/login"><i class="bi bi-door-closed"></i>Login</a>
		<a href="/logout"><i class="bi bi-door-open"></i>Logout</a>
	</div>

</nav>