<nav>
	<div class="container">	
		<a href="/"><img src="" alt=""/><i class="bi bi-house-fill"></i>Home</a>
		<a href="/register">Registracija</a>
		<a href="/login">Prisijungti</a>
		<a href="/logout">Atsijungti</a></div>
</nav>