<nav>
	<div class="container">	
		<a href="/">Namai</a>
		<a href="/forum">Forumas</a>
		<a href="/register">Registracija</a>
		<a href="/login">Prisijungti</a>
		<a href="/logout">Atsijungti</a></div>

</nav>