body{
    font-family: "Rubik Doodle Shadow";
    margin: 0;

    
    
    }
.navigation {
    background-color: rgb(131, 127, 122);
    padding: 2rem;
    border: none;
    border-radius: 10px;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
   
}

input, select, button{
    border: none;
    border-radius: 10px;

}
input, select, button{
color:  rgb(131, 127, 122);
text-align: center;
}

.row {
    /* background-color: rgb(208, 123, 19); */
    width: 100%;
    height: 100%;
}
.coctails{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(208, 176, 138);
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 50px;
   
}
img{
    width:300px;
    height:300px;
    border-radius: 50px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin: 10px 10px;
    
}
.search, .lucky {
    background-color: rgb(244, 243, 246);
    border-radius: 10px;
    
}

.modal1{
    position:fixed;
    display:flex;
    flex-direction: column;
    border: none;
    background-color:  rgb(131, 127, 122);
    border-radius: 10px;
    /* margin-top: 200px; */
}
.modalbutton{
    cursor: pointer;
}

    

